
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.wrap,
body {
    background-color: #1A1A2E;
}

.counter {
    font-size: 3rem;
}

.counter .badge {
    background-color: #16213E;
    border-right: 3px solid #0F3460;
    border-bottom: 3px solid #0F3460;
    color: #ff526f;
}

.btn-custom {
    background-color: #16213E;
    border-right: 3px solid #0F3460;
    border-bottom: 3px solid #0F3460;
    color: #ff526f;
    margin-right: 1rem;
}
